<!DOCTYPE html>
<html>
  <head>
    <title>My books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/books/home">
            Home
          </a>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                  <a class="button is-dark" href=#>
                      <span>Sign up</span>
                    </a>
              </p>
              <p class="control">
                <a class="button is-black" href=#>
                  <span>Log in</span>
                </a>
              </p>
              <p class="control">
                <a href="/users/logout" class="button is-danger">
                  Log out
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  <main class = 'container'>