/*Agregar al sitio web una hojo de estilos externa cy usar los tres selectoreas> clase, id, body. 
Minimizar el csss. Contestar las preguntas.
Alejandra Cabrera Ruiz A01704463*/
body{
    color: rgb(44, 42, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:visited{
    color: cornflowerblue;
}
.headings{
    color: rgb(41, 56, 121);
    
}

#mail:hover {
    color:cornflowerblue;
}
