<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conejitos.com</title>
</head>
<body>
    <h1>Conejo Minilop</h1>
    <h3>Alimentación</h3>
    <table cellspacing="15">
      <thead>
        <tr>
          <th>Edad</th>
          <th>Recomendaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12 weeks</td>
          <td>100% heno de alfalfa, 1 taza de pellets, muy pocas verduras</td>
        </tr>
        <tr>
          <td>7 meses a un año</td>
          <td>75% heno de alfalfa, 25% heno de avena, 1/2 taza de pellets. Pocas verduras y muy pocas frutas </td>
        </tr>
        <tr>
            <td>Un año a cinco años</td>
            <td>100% heno de avena, 1/4 taza de pellets. Verduras y poca fruta </td>
        </tr>
      </tbody>
   </table>
</body>
</html>